# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENVIRONNEMENT PYTHON
# =========================
.venv/
venv/
env/

# =========================
# VARIABLES PRIVÉES
# =========================
.env

# =========================
# DATA / EXPORTS
# =========================
data/
exports/
*.csv
*.xlsx

# =========================
# STREAMLIT
# =========================
.streamlit/

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db